<div class="task_show_item">
    <%= @task.content %>
    <div class="post_time" >
        <td><%= l(@task.updated_at, format: :short) %>
    </div>
    
    <%= link_to 'Back', tasks_path %>

</div>