// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image:url(/assets/desk.jpg);
    background-size:cover;
    color:white;
    font-family: 'Arimo', sans-serif;

    label{
        font-size:1.5em;
        font-weight:bold;
    }
}

.container{

    margin:0 auto;
    text-align:center;
    .form{
      line-height:3em;
      
      input{
        width:300px;

        .action{
            width:250px;
        }
      }

      

      
    }

    table{
        display:block;
    }
    .red{
        color:red;
    }
}






